body{
 background-color: #000000;
 padding: 0px;
 margin: 0px;

}


canvas {
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;


}
canvas + canvas {
  opacity: 0.3;
  z-index: 0;
}
.desc {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  font-size: 10px;
  color: #aaa;
  text-align: center;
}

.loading:before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  content: 'Loading...';
  color: #aaa;
  font-family: monospace;
}


@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400);
body {
  background: #000;
}
a {
  color: #ff0;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.cover .hi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}
.cover .hi span {
  color: #ff0;
  cursor: pointer;
  text-decoration: underline;

}
.cover .hi em {
  font-style: normal;
}
.cover .hi em.hidden {
  display: none;
}
.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.tv .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: auto;
  opacity: 0;
  transition: opacity .5s;
}
.tv .screen.active {
  opacity: 1;
}

#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
